services:
  - type: web
    name: finance-bro
    runtime: image
    region: singapore
    plan: free
    image:
      url: ghcr.io/gahoccode/finance-bro:latest
    envVars:
      - key: OPENAI_API_KEY
        sync: false
